<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="sHoughNorthwind" connectionString="Data Source=bender.net.nait.ca,24680;Initial Catalog=shough1_Northwind;Persist Security Info=True;User ID=Shough1;Password=G8tes323!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
