@import url('//fonts.googleapis.com/css?family=Raleway|Open+Sans:600|Roboto|Ranchers&effect=3d');

body, select, input 
{
  font-family:"Raleway", "Trebuchet MS", Sans-Serif; 
  font-size:large;
}
h1 
{
  font-family:"Ranchers","Trebuchet MS", Sans-Serif; 
  font-weight:bold;
  font-size:xx-large
}
h2 
{
  font-family:"Ranchers", "MS Trebuchet MS", Sans-Serif;
  font-size:xx-large
}
a:link, a:visited, a:active  
{
  text-decoration: none; 
  color:Teal
}
a:hover { color:Red }
th { padding: 10px 20px; }